.contentMetrics input {
  text-align: end;
}
.MuiAutocomplete-endAdornment {
  display: none;
}
.Auxiliary-class-for-AutoComplete-component input {
  margin-right: -27px;
}
.Box p {
  height: 10px;
}
