*,
*:after,
*:before {
  box-sizing: border-box;
  /* font: inherit; */
  font-family: 'roboto';
  /* color: inherit; */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  /* background: #000; */
  /* display: flex;
  justify-content: center; */
  align-items: center;
  height: 100vh;
}

.register-window {
  padding: 60px 50px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
}

.dataField {
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

.loginButton {
  background-color: red;
}
